// Gallows.scss
@import "../../globals.scss";

.full-gallows {
  position: relative;
}

.modal-overlay {
  @include wireframe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .modal-background {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    height: 100%;
  }

  .modal-content {
    @include wireframe;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;

    .close-button {
      @include wireframe;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }

    .modal-children {
      display: flex;
      flex-direction: column;
    }
  }
}
