.records-page {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .stats {
        .games-played {
            color: blue;
        }

        .games-won {
            color: green;
        }

        .games-lost {
            color: red;
        }
    }

    .stored-games {
        .table {
            border: 1px solid white;
            table-layout: fixed;
            width: 100%;

            .top-row {
                
            }

            .cell {
                text-align: center;
            }
        }
    }

    .clear-button{

    }
}