@import "../../globals.scss";

.full-keyboard {
  @include wireframe;
  height: 30%;
  width: 95%;
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1%;

  .key-row1, .key-row2, .key-row3 {
    // @include wireframe;
    width: 95%;
    height: 30%;
    display: flex;
    justify-content: center;
  }

  .key-row3 {
    padding: 0px 4px;
  }
}
