@import "../../globals.scss";

.full-keyboard {
  @include wireframe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.2;
  transition: opacity 0.2s ease;
  margin-bottom: 5px;
  width: 100%;
  height: 25%;

  .key-row1, .key-row2, .key-row3 {
    // @include wireframe;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
  }

  .key-row3 {
    padding: 0px .5em;
  }
}
